* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#output{
    min-height: 210px;
}


#buttons button{
    min-width: 45%;
}


@media only screen and (max-width:550px){
    #buttons button{
        min-width: 90%;
    }
}